# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build
/Boris/.vscode/
/BorisInput/.vscode/
/Boris/.vs
/Boris/CppProperties.json
/.vs
/ComputerToArduino/ComputerToArduino/obj/

*.elf
*.hex
*.vmps.*
.suo
board.buildinfo
*_vm